download-and-pack失败 3 minutes ago 4秒之内
Set up job
1. 下载镜像 (Docker Pull)
1
8
9
Run # 注意：这里加了 ghcr.io 前缀，这回肯定能找到了Error response from daemon: manifest unknownError: Process completed with exit code 1.
2. 打包成文件 (Docker Save)
3. 上传结果 (Upload)Complete job
